<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca</title>
    </head>

    <body>
        <h1>Add new Comic to colection "{{ colection.name }}" </h1>

        <form action="." method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}

                {% if form.help_text %}
                    {{ field.help_text }}
                {% else %}
                    {{ field.name }}
                {% endif %}

                {{ field }}
		</br>
            {% endfor %}

            <input type="submit" name="submit" value="Add Comic" />
        </form>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ errors }} </p>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <p></p>
                <p> {{ error }} </p>
                <p></p>
            {% endfor %}
        {% endif %}
    </body>

</html>
