<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca</title>
    </head>

    <body>
        <h1>Add a new Artist</h1>

        <form id="artist_form" method="post" action="/comicteca/add_artist/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
		</br>
            {% endfor %}

            <input type="submit" name="submit" value="Add Artist" />
        </form>
    </body>

</html>
