{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
  <p>Search Comic List</p>
  {% if artist %}
     <p><a href="/comicteca/artists/{{ artist.slug }}/edit/">Edit Artist</a></p>
     <p><a href="/comicteca/artists/{{ artist.slug }}/delete/">Delete Artist</a></p>
  {% endif %}
{% endblock %}

{% block body_block %}
<h2><u>Artists List</u></h2>
  {% if artist_list %}
    <table class="table-bordered">
      <tr>
        <th><center>Picture</center></th>
        <th><center>Name</center></th>
        <th><center>Nationality</center></th>
        <th><center>Colaborations</center></th>
      </tr>
      {% for artist in artist_list %}
      <tr>
        {% if artist.image %}

          {% load thumbnail %}
          {% thumbnail artist.image "70" as thumb_image %}
          <td>
            <center><a href="{{ artist.get_absolute_url }}" title="{{ artist.name  }}">
              <img src="{{ MEDIA_URL }}{{ thumb_image }}" class="image-detail">
            </a></center>
          </td>
          {% endthumbnail %}

        {% else %}
          <td>No image</td>
        {% endif %}

        <td>
          <center>
            <a href="{{ artist.get_absolute_url }}" title="{{ artist.name }}">{{ artist.name }}
          </center>
        </td>
        <a href="{{ publisher.get_absolute_url }}" title="{{ publisher.name }}">{{ publisher.name }}

        <td><center><img src="http://flagpedia.net/data/flags/mini/{{ artist.nationality|lower }}.png"></center></td>

        <td><center>{{ artist.get_colaborations_count }}</center></td>
      </tr>
      {% endfor %}
    </table>

  {% else %}
    <strong>There are no artists present yet.</strong>
  {% endif %}

  <hr>
  <a href="/comicteca/artists/add/">Add new artist</a><br/>
  <a href="/comicteca/">Back to Index</a>

{% endblock %}
