{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
  <p>Search Comic List</p>
  {% if artist %}
     <p><a href="/comicteca/artists/{{ artist.slug }}/edit/">Edit Artist</a></p>
     <p><a href="/comicteca/artists/{{ artist.slug }}/delete/">Delete Artist</a></p>
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if artist %}
  <h1>{{ artist_name }}</h1>
	  <ul>
	    <li><u>Name:</u> <strong>{{ artist.name }} </strong></li>
	    <li><u>Nationality:</u> <strong>{{ artist.nationality }} </strong></li>
      {% if artist.birthdate %}
	       <li><u>Birthdate:</u> <strong>{{ artist.birthdate }} </strong></li>
      {% endif %}

	    {% if artist.deathdate %}
	       <li><u>Deathdate:</u> <strong>{{ artist.deathdate }} </strong></li>
	    {% endif %}

      {% if artist.biography %}
           <li><u>Bio</u> <strong>{{ artist.biography }} </strong></li>
      {% endif %}

      <li>
          Colaborations:
          <ul>
            {% for comic,roles in artist.get_colaborations %}
                <li><a href="{{ comic.get_absolute_url }}">{{ comic.colection.name }} ({{ comic.colection.distributor }} v{{ comic.colection.volume }}) number {{ comic.number }}</a>
                ( {{ roles }} )
                </li>
            {% endfor %}
          </ul>
      </li>
	</ul>
        {% else %}
            <h1>Artist Unknown</h1>
            This artist does not exist!
        {% endif %}

    <hr>
    {% if artist %}
        <a href="/comicteca/artists/{{ artist.slug }}/edit/">Edit Artist</a><br/>
        <a href="/comicteca/artists/{{ artist.slug }}/delete/">Delete Artist</a><br/>
    {% endif %}
    <a href="/comicteca/artists/">Back to Artists</a><br/>
    <a href="/comicteca/">Back to Index</a><br/>

{% endblock %}
