<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca - Artists</title>
    </head>

    <body>
        {% if artist %}
        <h1>{{ artist_name }}</h1>
	<ul>
	  <li><u>Name:</u> <strong>{{ artist.name }} </strong></li>
	  <li><u>Nationality:</u> <strong>{{ artist.nationality }} </strong></li>
      {% if artist.birthdate %}
	       <li><u>Birthdate:</u> <strong>{{ artist.birthdate }} </strong></li>
      {% endif %}
	  {% if artist.deathdate %}
	       <li><u>Deathdate:</u> <strong>{{ artist.deathdate }} </strong></li>
	  {% endif %}
	  </br>
	  <li><u>Bio</u> <strong>{{ artist.biography }} </strong></li>
	</ul>
        {% else %}
            <h1>Artist Unknown</h1>
            This artist does not exist!
        {% endif %}

    <hr>
    {% if artist %}
        <a href="/comicteca/artists/{{ artist.slug }}/edit/">Edit Artist</a><br/>
        <a href="/comicteca/artists/{{ artist.slug }}/delete/">Delete Artist</a><br/>
    {% endif %}
    <a href="/comicteca/artists/">Back to Artists</a><br/>
    <a href="/comicteca/">Back to Index</a><br/>
    </body>
</html>
