<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca</title>
    </head>

    <body>

        <h2><p>Listado de Autores (from view):</p></h2>
        {% if artist_list %}
            <ul>
                {% for artist in artist_list %}
		<li><a href="/comicteca/artists/{{ artist.slug }}">{{ artist.name }}</a> ({{artist.nationality}})</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no artists present yet.</strong>
        {% endif %}


        <hr>
        <br />
        <a href="/comicteca/artists/add/">Add new artist</a><br />
        <a href="/comicteca/">Back to Index</a>
    </body>
</html>
