<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca</title>
    </head>

    <body>

        <h2><p>Listado de Colecciones:</p></h2>
        {% if colection_list %}
	    <table>
		    <tr>
     		      <th>Name</th>
     		      <th>Volume</th>
                  <th>Distributor</th>
                  <th>Language</th>
     		      <th>Pub Date</th>
     		      <th>Numbers</th>
		    </tr>
                {% for colection in colection_list %}
		    <tr>
	              <td><a href="/comicteca/colections/{{ colection.slug }}">{{ colection.name }}</a></td>
	              <td>v{{ colection.volume }}</td>
                  <td><a href="/comicteca/publishers/{{ colection.distributor.slug }}">{{ colection.distributor.name }}</a></td>
                  <td>{{ colection.language }}</td>
		          {% if colection.pub_date %}
		              <td>{{ colection.pub_date }}</td>
		          {% else %}
		              <td>N/A</td>
		          {% endif %}

		          <td>{{ colection.colection_list }}</td>

		    </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>There are no colections present yet.</strong>
        {% endif %}


        <hr>
        <br/>
        <a href="/comicteca/colections/add/">Add new colection</a><br />
        <a href="/comicteca/">Back to Index</a>
    </body>
</html>
