{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
  {% if colection %}
    <!-- Name -->
    <h2><center>{{ colection_name }}</center></h2>
    {% if colection.subname %}
      <p><center>{{ colection.subname }}</center></p>
    {% endif %}
    {% if colection.colection_type == 'Regular' %}
        <p><center>Volume {{ colection.volume }}</center></p>
    {% endif %}
    <hr>
    <!-- Buttons -->
    <p><center>
      <a href="{% url 'colection_update' colection.slug %}" class="btn btn-warning" role="button">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </a>
      <a href="{% url 'colection_delete' colection.slug %}" class="btn btn-danger" role="button">
        <i class="glyphicon glyphicon-remove"></i>
        Delete
      </a>
    </center></p>

    <p><center>
      <a href="{% url 'colection_add_comics' colection.slug %}" class="btn btn-info" role="button">
        <i class="glyphicon glyphicon-plus"></i>
        Add Comics
      </a>
    </center></p>

    <p><center>
      <a href="{% url 'colection_missing' colection.slug %}" class="btn btn-default" role="button">
        <i class="glyphicon glyphicon-info-sign"></i>
        MISSING
      </a>
    </center></p>

    <hr style="height:5px">

    <!-- Info -->
    <h2><center>Info</center></h2>
    <p><center><u>Status:</u> <strong>{{ colection.colection_list }}</strong></center></p>
    <p><center><u>Type:</u> <strong>{{ colection.colection_type }}</strong></center></p>
    <p><center><u>Pub Date:</u> <strong>{{ colection.my_pub_date }} </strong></center></p>
    <p><center><u>Format:</u> <strong>{{ colection.colection_format }}</strong></center></p>
    <p><center><u>Total Pages:</u> <strong>{{ colection.get_pages }}</strong></center></p>
    <p><center><u>Real Price:</u> <strong>{{ colection.get_currency }}</strong></center></p>
    <p><center><u>Price Paid:</u> <strong>{{ colection.get_paid }}</strong></center></p>
    <hr style="height:5px">

    <!-- Publishers -->
    <h2><center>Publishers</center></h2>

    <p><center><u>Distributor:</u> <strong><a href="{% url 'publisher_detail' colection.distributor.slug %}">{{ colection.distributor.name }}</a></strong></center></p>

    {% for editor in editor_list %}
      <p><center><u>Editor:</u> <strong><a href="{% url 'publisher_detail' editor.slug %}">{{ editor.name }}</a></strong></center></p>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if colection %}
    <!-- Name and Buttons -->
    <div class="row">
      <h1 class="page-header">
        {{ colection_name }}
        {% if colection.colection_type == 'Regular' %} (v{{ colection.volume }})
        {% endif %}
      </h1>
      <!-- Buttons -->
      <div class="row pull-right">
        {% if not all_comics_owned  %}
          <a href="{% url 'collection_add_all_comics' colection.slug  %}" class="btn btn-info" role="button">
          <i class="glyphicon glyphicon-plus"></i>
          ADD ALL COMICS
          </a>
        {% else %}
          <a href="{% url 'collection_remove_all_comics' colection.slug  %}" class="btn btn-danger" role="button">
          <i class="glyphicon glyphicon-minus"></i>
          REMOVE ALL COMICS
          </a>
        {% endif %}
      </div>
    </div>
    <br>

    <!-- Collection Comics -->
    <div class="row">
      <h2 class="sub-header">Comics</h2>
      <!-- comic_list from context data -->
      {% for comic,owned in comic_list %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="relative">
          {% load thumbnail %}
          {% thumbnail comic.my_cover "200x280" as thumb_image %}
            <a href="{{ comic.my_url }}">
              <img src="{{ MEDIA_URL }}{{ thumb_image }}" class="image-thumbnail"
                   style="padding:2px;border:thin solid black;"
                   height="280" width="200";>
            </a>
          {% endthumbnail %}
           <div style="position: absolute;
           top: 220px;
           left: 20px;
           font-size: 32px;">

          {% if owned %}
            <span class="label label-success">
              #{{ comic.number }}
            </span>
          {% else %}
            <span class="label label-default">
              #{{ comic.number }}
            </span>
          {% endif %}
          </div> <!-- button div -->

          <div class="clearfix visible-sm-block visible-lg-block"></div>
        </div> <!-- end div of class comic -->
      {% endfor %}
    </div>
  {% else %}
    <h1>Colection Unknown</h1>
    This collection does not exist!
    <a href="{% url 'index' %}">Back to Index</a>
    <br/>
  {% endif %}
{% endblock %}
