{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Colection List{% endblock %}

{% block side_block %}
  <p>Search Comic List</p>
{% endblock %}

{% block body_block %}
  <div class="panel panel-default">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Collection List ({{ colection_list.count }})</div>

      <!-- Table -->
	    <table class="table">
		    <tr>
     		  <th>Name</th>
     		  <th>Volume</th>
          <th>Type</th>
          <th>Pages</th>
          <th>Distributor</th>
          <th>Cost</th>
          <th>Language</th>
     		  <th>Pub Date</th>
     		  <th>Numbers</th>
		    </tr>
      {% for colection in colection_list %}
		    <tr>
	        <td><a href="/comicteca/colections/{{ colection.slug }}">{{ colection.name }}</a></td>
          {% if colection.colection_type == 'Regular' %}
	          <td>v{{ colection.volume }}</td>
          {% else %}
            <td> - </td>
          {% endif %}
          <!-- TODO: set a different icon for each class -->
          <td>{{ colection.colection_type }}</td>
          <td>{{ colection.get_pages }}</td>
          <td><a href="/comicteca/publishers/{{ colection.distributor.slug }}">{{ colection.distributor.name }}</a></td>
          <td>{{ colection.get_currency }}</td>
          <td>{{ colection.language }}</td>
		      <td>{{ colection.my_pub_date }}</td>
		      <td>{{ colection.colection_list }}</td>
		    </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
