{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
<p>Search Comic List</p>
<p><a href="/comicteca/comics/add/">Add new Comic</a></p>
<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>

{% endblock %}

{% block body_block %}

<h2><u>Comic List</u> ({{ total_comics }})</h2>
{% if object_list %}
  <table>
    <tr>
      <th>Comic</th>
     	<th>Distributor</th>
      <th>Editors</th>
     	<th>Pages</th>
      <th>Language</th>
     	<th>Pub Date</th>
		</tr>
    {% for comic in object_list %}
    <tr>
	    <td><a href="{{ comic.get_absolute_url }}">{{ comic.colection.name }}
	               (v{{ comic.colection.volume }}) n{{ comic.number }}</a></td>
      <td>{{ comic.colection.distributor }}</td>
      <td>{{ comic.colection.editor_list }}</td>
      <td>{{ comic.pages }}</td>
	    <td>{{ comic.colection.language }}</td>

		  {% if comic.colection.pub_date %}
		    <td>{{ comic.colection.pub_date }}</td>
		  {% else %}
		    <td>N/A</td>
		  {% endif %}
		</tr>
    {% endfor %}
  </table>
{% else %}
  <strong>There are no comics present yet.</strong>
{% endif %}


{% endblock %}
