{% extends 'comics/base.html' %}

{% load staticfiles %}
{% load text_tags %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
<p><center>Search Comic List</center></p>
<p>
  <center>
    <a href="{{ colection.get_absolute_url }}">{{ colection.name }} v{{ colection.volume }}</a>
  </center>
</p>

{% if comic.cover %}
  {% load thumbnail %}
    {% thumbnail comic.cover "180" as thumb_image %}
    <a href="{{ MEDIA_URL }}{{ comic.cover }}">
    <img src="{{ MEDIA_URL }}{{ thumb_image }}" class="image-detail" style="padding:1px;border:thin solid black;"></a>
  {% endthumbnail %}
{% endif %}
{% endblock %}

{% block body_block %}
{% if comic %}
  <h1>{{ colection.name }} v{{ colection.volume }} - Number {{ comic.number }}</h1>
  <ul>
    {% if comic.title %}
      <li><u>Title:</u><strong>{{ comic.title }} </strong></li>
    {% endif %}

    <li><u>Pages:</u><strong>{{ comic.pages }}</strong></li>

    {% if comic.pub_date  %}
      <li><u>Pub Date:</u><strong>{{ comic.pub_date }} </strong></li>
    {% else %}
      <li><u>Pub Date:</u><strong>N/A</strong></li>
    {% endif %}

    {% if comic.extrainfo %}
      <li><u>Additional info:</u> <strong><a href="{{ comic.extrainfo }}"> link</a></strong></li>
    {% endif %}

    {% if comic.comments  %}
      <li><u>Comments:</u>{{ comic.comments|markdown }}</li>
    {% else  %}
      <li><u>Comments:</u><strong>N/A</strong></li>
    {% endif %}
    <br/>
    <li><u>Colaborators:</u></li>
    <ul>
      {% for artist,roles in comic.get_all_artists_roles %}
        <li><a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
            ( {{ roles }} )
        </li>
      {% endfor %}
    </ul>

  </ul>
{% else %}
  <h1>Comic Unknown</h1>
  This comic does not exist!
{% endif %}

<hr>
{% if comic %}
  <a href="/comicteca/comics/{{ comic.slug }}/edit/">Edit Comic</a><br/>
  <a href="/comicteca/comics/{{ comic.slug }}/delete/">Delete Comic</a><br/>
{% endif %}

{% endblock %}
