<!DOCTYPE html>
<html>
    <head>
        <title>Comicteca</title>
    </head>

    <body>
        <h1>Comicteca says...hello world!</h1>

	<h2><p>Autores:</p></h2>
        {% if artists %}
            <ul>
                {% for artist in artists %}
                  <li><a href="/comicteca/artists/{{ artist.slug }}">{{ artist.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no artists present yet.</strong>
        {% endif %}

	<h2><p>Colecciones:</p></h2>
        {% if colections %}
            <ul>
                {% for colection in colections %}
                  <li><a href="/comicteca/colections/{{ colection.slug }}">{{ colection.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no colections present yet.</strong>
        {% endif %}

	<h2><p>Editoriales:</p></h2>
        {% if publishers %}
            <ul>
                {% for publisher in publishers %}
                  <li><a href="/comicteca/publishers/{{ publisher.slug }}">{{ publisher.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no publishers present yet.</strong>
        {% endif %}

	<hr>
        <a href="/comicteca/artists/">Artists</a><br />
        <a href="/comicteca/colections/">Colections</a><br />
        <a href="/comicteca/about/">About</a><br />
	<a href="/comicteca/add_publisher/">Add a New Publisher</a><br />
    </body>
</html>
