{% extends 'comics/base.html' %}

{% load staticfiles %}
{% load comicteca_stats %}

{% block title %}Comicteca Index{% endblock %}

{% block side_block %}
  <p>Search Index</p>
  </br>
  <p><a href="{% url 'colection_add' %}">Add Colection</a></p>
  <p><a href="{% url 'comic_add' %}">Add Comic</a></p>
  <p><a href="{% url 'artist_add' %}">Add Artist</a></p>
  <p><a href="{% url 'publisher_add' %}">Add Publisher</a></p>
  <hr>
  <p>Stats:</p>
  <p><a href="{% url 'colection_list' %}">{% total_colections %} colections</a></p>
  <p><a href="{% url 'comic_list' %}">{% total_comics %} comics</a></p>
  <p><a href="{% url 'publisher_list' %}">{% total_publishers %} publishers</a></p>
  <p><a href="{% url 'artist_list' %}">{% total_artists %} artists</a></p>

{% endblock %}

{% block body_block %}
	<h2><p>Last Artists:</p></h2>
        {% if artists %}
            <ul>
                {% for artist in artists %}
                  <li><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no artists present yet.</strong>
        {% endif %}

	<h2><p>Last Colections:</p></h2>
        {% if colections %}
            <ul>
                {% for colection in colections %}
                  <li><a href="{{ colection.get_absolute_url }}">{{ colection.name }}</a>
                  (v{{ colection.volume }})
                  ({{ colection.distributor }})
                  ({{ colection.colection_list }})
                  ({{ colection.colection_type }})
                  </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no colections present yet.</strong>
        {% endif %}

    <h2><p>Last Comics:</p></h2>
        {% if comics %}
            <ul>
                {% for comic in comics %}
                  <li><a href="{{ comic.get_absolute_url }}">{{ comic.colection.name }}
                  (v{{ comic.colection.volume }})
                  ({{ comic.colection.distributor }})
                  n{{ comic.number }}
                  </a>
                  </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no comics present yet.</strong>
        {% endif %}

	<h2><p>Last Publishers:</p></h2>
        {% if publishers %}
            <ul>
                {% for publisher in publishers %}
                  <li><a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no publishers present yet.</strong>
        {% endif %}
{% endblock %}

