{% extends 'comics/base.html' %}

{% load staticfiles %}

{% block title %}Comicteca Comic List{% endblock %}

{% block side_block %}
  <p>Search Comic List</p>
{% endblock %}

{% block body_block %}
  <h2><u>Publishers List</u></h2>
    {% if publisher_list %}
      <ul>
        {% for publisher in publisher_list %}
		  <li>
            <a href="/comicteca/publishers/{{ publisher.slug }}">{{ publisher.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no artists present yet.</strong>
    {% endif %}

    <hr>
    <a href="/comicteca/publishers/add/">Add new publisher</a><br/>
    <a href="/comicteca/">Back to Index</a>

{% endblock %}
